# ДОМАШНЯЯ РАБОТА №1 (pandas)
### Требования к оформлению тетрадок прописаны в первой тетрадке учебных материалов.

### **Мягкий дедлайн: 6 октября.**
### **Жёсткий дедлайн: 11 октября.**
### После мягкого дедлайна за каждое задание можно получить только половину баллов. После жёсткого дедлайна работы не принимаются.


### **Критерии оценивания.** За каждую часть можно получить по 2 балла. 9/10 баллов можно получить только в том случае, если Вы не просто правильно выполните задания, но также построите графики и сделаете какие-то выводы на основе полученных результатов. Напишите, что кажется Вам закономерным/необычным. Какие ещё вопросы Вы бы задали к данным и как (предложите фреймворк кода)? Подумайте об ограничениях, особенностях данных и тд.

### Удачи!

______________________________________________________________________________________________________________________________

### Вам предстоит проанализировать [датасет](https://www.kaggle.com/datasets/adilshamim8/educational-backgrounds-of-successful-people), содержащий сведения об образовании известных успешных людей.

## ЧАСТЬ 1: базовый анализ и очистка данных

#### Загрузите датасет и узнайте его размер, типы данных в столбцах.

In [406]:
import pandas as pd

df = pd.read_csv("successful_educations.csv")

In [407]:
df.shape

(125, 10)

In [408]:
df.dtypes

Name                         object
Profession                   object
Degree                       object
Field                        object
Institution                  object
Graduation Year              object
Country                      object
University Global Ranking    object
GPA (or Equivalent)          object
Scholarship/Award            object
dtype: object

#### Найдите количество пропущенных значений в каждом столбце. Выведите первые 5 строк, последние 3 строки и 2 случайные строки, а также с 10 по 15 строки.

In [409]:
NaN = df.isnull().sum()
print(NaN)

Name                          0
Profession                    3
Degree                        9
Field                        10
Institution                  10
Graduation Year              16
Country                       4
University Global Ranking    45
GPA (or Equivalent)          39
Scholarship/Award            40
dtype: int64

In [410]:
df.head(5)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3,3.8,Fellowship in Engineering
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2,3.9,Hoover Fellowship
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.6,Marquis Scholar

In [411]:
df.tail(3)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
122,Aliko Dangote,Business,Bachelor's Degree,Business Administration,Al-Azhar University,1977,Nigeria,NaN,NaN,NaN
123,Gennady Timchenko,Business,NaN,NaN,NaN,NaN,Indonesia,NaN,NaN,NaN
124,Idan Ofer,Business,Bachelor's Degree,Economics and Management,London School of Economics,1987,United Kingdom,49,NaN,NaN

In [412]:
df.sample(2)

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
25,Jack Ma,Tech CEO,Bachelor,English,Hangzhou Normal University,1988,China,NaN,3.6,Honorary PhD
113,"Dieter Schwarz,Business,N/A,N/A,N/A,N/A,German...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [413]:
df.loc[10:15]

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
10,Marie Curie,Scientist,Doctor of Philosophy,Physics,University of Paris,1903,France,35,NaN,Nobel Fellowship
11,Barack Obama,Politician,Juris Doctor,Law,Harvard Law School,1991,USA,2,3.1,Harvard Law Review Editor
12,Tim Cook,Tech Executive,Master of Business Administration,Business Administration,Fuqua School of Business (Duke University),1988,USA,26,3.8,Fuqua Scholar
13,Serena Williams,Athlete,Bachelor of Science,Business Administration,University of California,2021,USA,40,3.6,Student-Athlete Academic Award
14,Sergey Brin,Entrepreneur,Master of Science,Computer Science,Stanford University,1995,USA,3,3.9,National Science Foundation Fellowship
15,Larry Page,Entrepreneur,Master of Science,Computer Engineering,Stanford University,1995,USA,3,3.9,NSF Graduate Fellowship

#### Удалите колонку Scholarship/Award.

In [414]:
df_new = df.drop(columns=['Scholarship/Award'])
df_new.head(2) #проверка

,Name,Profession,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent)
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN

#### Переименуйте колонку "Profession", заменив на "Occupation".

In [415]:
df = df.rename(columns={'Profession': 'Occupation'})
df.head(2) #проверка

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.7,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,NaN,Dean’s List

####  Соберите статистику по столбцу GPA при помощи метода .describe(), не забудьте про NA.

In [416]:
df['GPA (or Equivalent)'].unique()  # проверка содержимого

array(['3.7', nan, '3.8', '3.9', '3.6', '3.5', '3.1', '02:02:00', '4.0'],
      dtype=object)

In [417]:
def gpa_to_num(gpa):
    if ':' in str(gpa):
        return None
    else:
        return float(gpa) #убираем лишнее и переводим строки в float


df['GPA (or Equivalent)'] = df['GPA (or Equivalent)'].apply(gpa_to_num)
df['GPA (or Equivalent)'].unique()

array([3.7, nan, 3.8, 3.9, 3.6, 3.5, 3.1, 4. ])

In [418]:
df['GPA (or Equivalent)'].describe()

count    85.000000
mean      3.771765
std       0.146069
min       3.100000
25%       3.700000
50%       3.800000
75%       3.900000
max       4.000000
Name: GPA (or Equivalent), dtype: float64

#### Заполните пропуски в столбце GPA средним значением.

In [419]:
df['GPA (or Equivalent)'] = df['GPA (or Equivalent)'].fillna(df['GPA (or Equivalent)'].mean())

In [420]:
df['GPA (or Equivalent)'].unique()

array([3.7       , 3.77176471, 3.8       , 3.9       , 3.6       ,
       3.5       , 3.1       , 4.        ])

## ЧАСТЬ 2: фильтрация и поиск

#### Выведите всех выпускников Лиги плюща (Harvard University, Yale University, Princeton University, Columbia University, Brown University, University of Pennsylvania, Cornell University, Dartmouth College).

In [421]:
df.loc[df.Institution.isin(['Harvard University',"Yale University","Princeton University","Columbia University","Brown University","University of Pennsylvania","Cornell University","Dartmouth College"])]

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13,3.700000,Dean’s List
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5,3.771765,Dean’s List
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16,3.600000,Marquis Scholar
9,Mark Zuckerberg,Entrepreneur,Dropped Out,computer science and psychology,Harvard University,NaN,USA,5,3.771765,NaN
18,Emma Watson,Actor,Bachelor of Arts,English Literature,Brown University,2014,USA,14,3.500000,Rhodes Scholar Finalist
27,Neil deGrasse Tyson,Astrophysicist,PhD,Astrophysics,Columbia University,1991,USA,7,3.900000,NASA Fellowship
31,Yo-Yo Ma,Musician,Bachelor,Liberal Arts,Harvard University,1976,USA,3,3.800000,Presidential Medal of Freedom
33,MacKenzie Scott,Author/Philanthropist,Bachelor,English,Princeton University,1992,USA,6,3.900000,Toni Morrison Thesis Prize
43,Andrea Jung,Business Executive,Bachelor,English Literature,Princeton University,1979,USA,6,3.771765,Princeton Scholar
44,John Legend,Musician,Bachelor,English,University of Pennsylvania,1999,USA,8,3.900000,University Scholar
45,Anne Wojcicki,Tech CEO,Bachelor,Biology,Yale University,1996,USA,3,3.800000,Research Excellence Award
46,Fareed Zakaria,Journalist,PhD,Political Science,Harvard University,1993,USA,3,3.771765,Phi Beta Kappa
47,Mindy Kaling,Actor/Writer,Bachelor,Playwriting,Dartmouth College,2001,USA,12,3.700000,Eleanor Frost Prize
57,Natalie Portman,Actor,Bachelor,Psychology,Harvard University,2003,USA,3,3.900000,Research Award
58,Warren Buffett,Investor,Master,Economics,Columbia University,1951,USA,7,3.900000,NaN
61,Steve Ballmer,Entrepreneur,Bachelor,Mathematics,Harvard University,1977,USA,3,3.800000,Academic Excellence
63,Michael Bloomberg,Entrepreneur,MBA,Business,Harvard University,1966,USA,3,3.800000,Merit Award
73,Stephen Schwarzman,Finance,MBA,Business,Harvard University,1972,USA,3,3.900000,Merit Award
75,Len Blavatnik,Entrepreneur,Master,Computer Science,Columbia University,1981,USA,7,3.900000,Merit Scholarship
102,Ken Griffin,Finance,Bachelor,Economics,Harvard University,1989,USA,3,3.800000,NaN
103,Eduardo Saverin,Entrepreneur,Bachelor,Economics,Harvard University,2006,USA,3,3.700000,NaN
121,Daniel Gilbert,Psychologist,Ph.D.,Psychology,Yale University,1984,USA,14,3.771765,American Psychological Association Distinguish...

#### Найдите всех нобелевских лауреатов и выведите только их имена, страну и род деятельности.

In [422]:
df['Scholarship/Award'].unique() #проверка на то, какие бывают варианты записи нобелевских

array(['Dean’s List', 'Fellowship in Engineering', 'Hoover Fellowship',
       'Marquis Scholar', 'Scholarship Winner', 'Honorary Award',
       'Academic Excellence Award', 'Nobel Peace Prize', nan,
       'Nobel Fellowship', 'Harvard Law Review Editor', 'Fuqua Scholar',
       'Student-Athlete Academic Award',
       'National Science Foundation Fellowship',
       'NSF Graduate Fellowship', 'DAAD Scholarship',
       'Trudeau Foundation Scholar', 'Rhodes Scholar Finalist',
       'Academy Award Winner', 'Magna Cum Laude', 'Nobel Prize Physics',
       'Honorary Degree', 'Kennedy Center Honor', 'Alpha Kappa Alpha',
       'Honorary PhD', 'National Merit Scholar', 'NASA Fellowship',
       'Phi Beta Kappa', 'Presidential Medal of Freedom',
       'Fulbright Scholar', 'Toni Morrison Thesis Prize',
       'Outstanding Graduate', 'Research Excellence Award',
       'Paul & Daisy Soros Fellow', 'Presidential Scholar',
       'Fulbright Scholarship', 'Ernst & Young Award', 'GM Fellowship',
       'Internal Medicine Award', 'Princeton Scholar',
       'University Scholar', 'Eleanor Frost Prize', 'Comedy Award',
       'Directors Guild Award', 'Fashion Excellence Award',
       'MacArthur Fellowship', 'Emmy Award Winner',
       'Opera Excellence Award', 'Neuroscience Fellow', 'Research Award',
       'Academic Excellence', 'Merit Award', 'Research Grant',
       'Merit Scholarship', 'Academic Merit', 'Research Fellowship',
       'Duke University Distinguished Alumna Award',
       'French Legion of Honour',
       'National Medal of Technology and Innovation (2011)',
       'National Academy of Engineering Member/ Marconi Prize (2012)',
       'American Psychological Association Distinguished Scientific Contributions Award'],
      dtype=object)

In [423]:
df_nobel = df.dropna()
df_nobel.loc[df_nobel["Scholarship/Award"].str.startswith("Nobel"),
    ['Name', 'Country', 'Occupation']]

                Name Country Occupation
8   Malala Yousafzai      UK   Activist
10       Marie Curie  France  Scientist
21   Stephen Hawking      UK  Physicist

## ЧАСТЬ 3: создание и преобразование столбцов

#### Создайте колонку 'Top_University' со значением True для университетов, входящих в топ-50. Обратите внимание на значения типа "231–240".

In [424]:
df['University Global Ranking'].unique()  #проверка данных

array(['13', '5', '3', '2', '16', '11', nan, '301–350', '4', '35', '26',
       '40', '231–240', '14', '161', '62', '7', '23', '58', '6', '122',
       '1', '28', '8', '12', '15', '10', '27', '43', '597', '60', '65',
       '89', '137', '1200', '801', '366', '46', '49'], dtype=object)

In [425]:
def ranking_to_num(ranking):
    if '–' in str(ranking):
        return None
    else:
        return float(ranking) #убираем лишнее


df['University Global Ranking'] = df['University Global Ranking'].apply(ranking_to_num)
df['University Global Ranking'].unique()

array([1.30e+01, 5.00e+00, 3.00e+00, 2.00e+00, 1.60e+01, 1.10e+01,
            nan, 4.00e+00, 3.50e+01, 2.60e+01, 4.00e+01, 1.40e+01,
       1.61e+02, 6.20e+01, 7.00e+00, 2.30e+01, 5.80e+01, 6.00e+00,
       1.22e+02, 1.00e+00, 2.80e+01, 8.00e+00, 1.20e+01, 1.50e+01,
       1.00e+01, 2.70e+01, 4.30e+01, 5.97e+02, 6.00e+01, 6.50e+01,
       8.90e+01, 1.37e+02, 1.20e+03, 8.01e+02, 3.66e+02, 4.60e+01,
       4.90e+01])

In [426]:
df['Top_University'] = df['University Global Ranking'] <= 50
df.head()

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13.0,3.700000,Dean’s List,True
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5.0,3.771765,Dean’s List,True
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3.0,3.800000,Fellowship in Engineering,True
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2.0,3.900000,Hoover Fellowship,True
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16.0,3.600000,Marquis Scholar,True

In [427]:
df.shape

(125, 11)

#### Создайте колонку Academic_Performance, в которую внесите значение:
#### - "High", если GPA выше 3.5 баллов,
#### - "Medium", если GPA от 3 до 3.49 баллов,
#### - "Low", если GPA ниже 3 баллов.

In [428]:
def gpa_value(value):
    if value > 3.5:
        return 'High'
    elif value < 3:
        return 'Low'
    else:
        return 'Medium'


df['Academic_Performance'] = df['GPA (or Equivalent)'].apply(gpa_value)
df.head()

,Name,Occupation,Degree,Field,Institution,Graduation Year,Country,University Global Ranking,GPA (or Equivalent),Scholarship/Award,Top_University,Academic_Performance
0,Elon Musk,Entrepreneur,Bachelor of Science,Physics & Economics,University of Pennsylvania,1997,USA,13.0,3.700000,Dean’s List,True,High
1,Bill Gates,Entrepreneur,Dropped Out,computer science,Harvard University,1975,USA,5.0,3.771765,Dean’s List,True,High
2,Sundar Pichai,Tech Executive,Master of Science,Material Sciences and Engineering,Stanford University,1995,USA,3.0,3.800000,Fellowship in Engineering,True,High
3,Sheryl Sandberg,Tech Executive,Master of Business Administration,Business Administration,Harvard Business School,1995,USA,2.0,3.900000,Hoover Fellowship,True,High
4,Jeff Bezos,Entrepreneur,Bachelor of Science,Computer Science and Electrical Engineering,Princeton University,1986,USA,16.0,3.600000,Marquis Scholar,True,High

#### Посмотрите на уникальные значения в колонке Degree и приведите их к единообразию (Bachelor of Science -> Bachelor).

In [429]:
df.shape

(125, 12)

In [430]:
df['Degree'].value_counts()  #проверка данных (+количества каждого degree)

Degree
Bachelor                             46
Master                               14
MBA                                   8
PhD                                   7
Dropout                               5
Master of Science                     4
Juris Doctor                          4
Master of Business Administration     3
Bachelor of Science                   3
Ph.D.                                 3
Doctor of Philosophy                  2
Dropped Out                           2
Engineering                           2
Bachelor's Degree                     2
High School                           2
Undergraduate Studies                 1
Honorary Doctorate                    1
Master/MBA                            1
Bachelor of Arts                      1
Master of Arts                        1
No Degree                             1
MD                                    1
Specialist Degree                     1
MBA and BA                            1
Name: count, dtype: int64

In [431]:
def degrees(degrees):
  if ('Master' in str(degrees) or 'MD' in str(degrees) or 'MBA' in str(degrees)): #"MBA and BA" я отнесла к Master как к общему, тк нельзя ведь получить магистра без бакалавра (поэтому и код начала с Master)
        return 'Master'
  elif 'Bachelor' in str(degrees):
          return 'Bachelor'
  elif ('Ph' in str(degrees) or 'Doctor' in str(degrees)):
          return 'Doctor'
  elif 'Drop' in str(degrees):
          return 'Dropped Out'
  elif 'Engineering' in str(degrees):
          return 'Not specified'
  elif 'Specialist' in str(degrees):
          return 'Specialist'
  return degrees #приводим к приблизительно общему виду (specialist degree я поменяла на specialist ради красоты, можно было этого и не делать)

df_degrees = pd.read_csv("successful_educations.csv") #на всякий случай новый датасет

df_degrees['Degree'] = df['Degree'].apply(degrees)
df_degrees['Degree'].value_counts()

Degree
Bachelor                 52
Master                   33
Doctor                   17
Dropped Out               7
High School               2
Not specified             2
Undergraduate Studies     1
No Degree                 1
Specialist                1
Name: count, dtype: int64

In [432]:
df_degrees['Degree'].unique()

array(['Bachelor', 'Dropped Out', 'Master', 'Doctor',
       'Undergraduate Studies', 'High School', nan, 'Not specified',
       'No Degree', 'Specialist'], dtype=object)

In [433]:
df.shape

(125, 12)

## ЧАСТЬ 4: агрегация и группировка

#### Найдите топ-5 университетов по количеству выпускников в датасете.

#### Найдите топ-5 самых популярных областей обучения среди предпринимателей.

#### Определите топ-5 стран с самыми высокими значениями GPA.

#### Сгруппируйте записи по профессиям и посчитайте:
#### - количество людей в каждой профессии,
#### - средний GPA для каждой профессии,
#### - количество людей с разными уровнями образования для каждой профессии.

#### Сгруппируйте данные сначала по стране и профессии. Посчитайте:
#### - количество людей,
#### - средний GPA.

#### Удалите NA в столбце с годом выпуска, преобразуйте значения в тип datetime64, сделайте столбец индексом датафрейма и сгруппируйте по десятилетиям (метод .resample). Посчитайте:
#### - количество выпускников в каждом десятилетии,
#### - наиболее популярную область обучения для каждого десятилетия,
#### - средний GPA.
#### PS: сначала избавьтесь от NA в соответствующей колонке.